@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

body {
    background-color: #FFFFFF;
    color: #1B1B32;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header {
    background-color: #EEEEEE;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
    padding: 0.25em 0 0 0;
}

header h2 {
    margin: 0;
    padding: 0 0 0.1em 0;
}

header > p {
    margin: 0;
    text-align: center;
    font-style: italic;
    padding: 0.5em 0;
}

nav {
    width: 70%;
    min-width: 475px;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    margin: 0 auto;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

header a {
    color: #1B1B32;
    text-decoration: none;
    padding: 0.1em 0.2em;
}

header a:hover {
    background-color: #1B1B32;
    color: #EEEEEE;  
}

main {
    margin: 0;
    padding: 0;
}

.picture-main-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 475px;
}

figure {
    margin: 0.5% 0 0 0.5%;
    padding: 0;
    width: 50%;
    min-width: 475px;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

figure figcaption {
    font-size: 12px;
}

.picture-main-text > div {
    width: 475px;
    min-width: 475px;
    margin: 0 auto;
}

main h2 {
    text-align: center;
    margin: 0 0 0.5em 0;
    padding: 0.25em 0 0 0;
}

.tag-section {
   width: 475px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1em;
}

.main-text h2 {
    margin: 0;
    padding: 0.1em;
    text-align: justify;
}

.main-text p {
    margin: 0;
    padding: 0.1em;
    line-height: 1.25em;
    text-align: justify;
}

.tag {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    width: 475px;
    padding: 0.5em;
    background-color: #EEEEEE;
    border-radius: 9px;
    box-shadow: 0 0 0.30em #000000;
}

.tag h3 {
    margin: 0;
    padding: 0.1em 0;
    text-align: justify;
    line-height: 1.25em;
}

.tag img {
    align-self: center;
    margin: 0 auto;
    padding: 0.4em 0;
}

.final-link {
    text-align: center;
}